# app configuration
ENV=development
API_URL=YOUR_API_URL

# databricks service
DATABRICKS_SERVER_HOSTNAME=YOUR_DATABRICKS_SERVER_HOSTNAME
DATABRICKS_HTTP_PATH=YOUR_DATABRICKS_HTTP_PATH
DATABRICKS_TOKEN=YOUR_DATABRICKS_TOKEN

# user authentication
AZURE_CLIENT_ID=YOUR_APPLICATION_CLIENT_ID
AZURE_CLIENT_SECRET=YOUR_CLIENT_SECRET_VALUE
AZURE_TENANT_ID=YOUR_DIRECTORY_TENANT_ID
OIDC_SECRET_KEY=YOUR_SECRET_KEY # random secret key