# databricks service
DATABRICKS_SERVER_HOSTNAME="adb-1032635496032522.2.azuredatabricks.net"
DATABRICKS_HTTP_PATH="/sql/1.0/warehouses/9990e8fa0759e833"
DATABRICKS_TOKEN="<your access token>"

# user authentication
AZURE_CLIENT_ID="YOUR_APPLICATION_CLIENT_ID"
AZURE_CLIENT_SECRET="YOUR_CLIENT_SECRET_VALUE"
AZURE_TENANT_ID="YOUR_DIRECTORY_TENANT_ID"
AZURE_REDIRECT_URI="YOUR_REDIRECT_URI" # e.g., http://localhost:8501/oidc/azure/callback
OIDC_SECRET_KEY="YOUR_SECRET_KEY" # Use a strong, random key