.github/copilot-instructions.md
.env

# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# pytest cache and test results
.pytest_cache/
*.pytest_cache/
*.xml
*.html
*.coverage

# Virtual environment
venv/
.venv/
dump.rdb
# Jupyter Notebook
.ipynb_checkpoints/

# VS Code specific files (optional, but often useful)
.vscode/
tokens.env
components/__pycache__/header.cpython-313.pyc
components/__pycache__/footer.cpython-313.pyc
azure_cli_cert.pem
root_ca.pem
backend/gunicorn.ctl
