ENV=development
POLL_INTERVAL_SECONDS=600

# Databricks service
DATABRICKS_SERVER_HOSTNAME=YOUR_DATABRICKS_SERVER_HOSTNAME
DATABRICKS_HTTP_PATH=YOUR_DATABRICKS_HTTP_PATH
DATABRICKS_TOKEN=YOUR_DATABRICKS_TOKEN

# Backend App Reg
AZURE_CLIENT_ID=YOUR_AZURE_CLIENT_ID
AZURE_TENANT_ID=YOUR_AZURE_TENANT_ID
AZURE_ACCESS_TOKEN=YOUR_AZURE_ACCESS_TOKEN